.section-1{
    border:  solid #FEEAE9;
    border-radius: 8px;
}
.custom-bg-info{
    background-color: #FCEAE8;
}
.custom-btn-warning{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #FCEAE8;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}